{"openapi":"3.0.1","info":{"title":"Financial Messaging APIs","description":"This documentation contains the description of all the financial messaging APIs","contact":{"name":"PaymentComponents","url":"https://www.paymentcomponents.com/","email":"libraries@paymentcomponents.com"},"version":"1.0"},"servers":[{"url":"https://finaplo-apis.paymentcomponents.com","description":"LIVE Environment"},{"url":"https://finaplo-apis.paymentcomponents.com/sandbox","description":"SANDBOX Environment"}],"paths":{"/swift/translator/rtgs/mx/to/mt":{"post":{"tags":["MT<>ISO20022 TRANSLATION APIs"],"summary":"Translate a TARGET2 MX message to TARGET2 MT message","description":"Accepts an TARGET2 MX message request in plain text and translates it to the equivalent TARGET2 MT.","operationId":"rtgsTranslateMxToMt","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;\n&lt;Document xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;FICdtTrf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDtTm&gt;2021-03-23T13:42:58.502+02:00&lt;/CreDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;NbOfTxs&gt;1&lt;/NbOfTxs&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmMtd&gt;CLRG&lt;/SttlmMtd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ClrSys&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Cd&gt;TGT&lt;/Cd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ClrSys&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstrId&gt;Inp009b028-InsId&lt;/InstrId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EndToEndId&gt;NOTPROVIDED&lt;/EndToEndId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UETR&gt;e008b028-59c5-41e9-be4c-d45102fc201e&lt;/UETR&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmAmt Ccy=&quot;EUR&quot;&gt;61250.00&lt;/IntrBkSttlmAmt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmDt&gt;2019-10-07&lt;/IntrBkSttlmDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtDtTm&gt;2019-10-07T09:15:00.000+02:00&lt;/CdtDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBBBDEFFXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBAADEFFC2X&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBBBDEFFXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBAADEFFAC2&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FICdtTrf&gt;\n&lt;/Document&gt;</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Document xmlns=\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\">\n    <FICdtTrf>\n        <GrpHdr>\n            <MsgId>Inp009b028-InsId</MsgId>\n            <CreDtTm>2021-03-23T13:42:58.502+02:00</CreDtTm>\n            <NbOfTxs>1</NbOfTxs>\n            <SttlmInf>\n                <SttlmMtd>CLRG</SttlmMtd>\n                <ClrSys>\n                    <Cd>TGT</Cd>\n                </ClrSys>\n            </SttlmInf>\n        </GrpHdr>\n        <CdtTrfTxInf>\n            <PmtId>\n                <InstrId>Inp009b028-InsId</InstrId>\n                <EndToEndId>NOTPROVIDED</EndToEndId>\n                <UETR>e008b028-59c5-41e9-be4c-d45102fc201e</UETR>\n            </PmtId>\n            <IntrBkSttlmAmt Ccy=\"EUR\">61250.00</IntrBkSttlmAmt>\n            <IntrBkSttlmDt>2019-10-07</IntrBkSttlmDt>\n            <SttlmTmIndctn>\n                <CdtDtTm>2019-10-07T09:15:00.000+02:00</CdtDtTm>\n            </SttlmTmIndctn>\n            <InstgAgt>\n                <FinInstnId>\n                    <BICFI>PBBBDEFFXXX</BICFI>\n                </FinInstnId>\n            </InstgAgt>\n            <InstdAgt>\n                <FinInstnId>\n                    <BICFI>PBAADEFFC2X</BICFI>\n                </FinInstnId>\n            </InstdAgt>\n            <Dbtr>\n                <FinInstnId>\n                    <BICFI>PBBBDEFFXXX</BICFI>\n                </FinInstnId>\n            </Dbtr>\n            <Cdtr>\n                <FinInstnId>\n                    <BICFI>PBAADEFFAC2</BICFI>\n                </FinInstnId>\n            </Cdtr>\n        </CdtTrfTxInf>\n    </FICdtTrf>\n</Document>"}},"required":true},"responses":{"200":{"description":"Message was translated successfully","content":{"*/*":{"example":"{1:F01PBAADEFFC2XX0000000000}{2:O2021521210326PBBBDEFFXXXX00000000002103261521N}{3:{121:e008b028-59c5-41e9-be4c-d45102fc201e}}{4:\n:20:Inp009b028-InsId\n:21:NOTPROVIDED\n:13C:/RNCTIME/0915+0200\n:32A:191007EUR61250,00\n:52A:PBBBDEFFXXX\n:58A:PBAADEFFAC2\n-}"}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":[{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-complex-type.2.4.a: Invalid content was found starting with element 'CreDtTm'. One of '{\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\":MsgId}' is expected.","erroneousValue":null,"line":5,"column":22}]}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/translator/rtgs/mx/to/mt"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be translated"}}}},"security":[{"bearer-key":[]}]}},"/swift/translator/rtgs/mt/to/mx":{"post":{"tags":["MT<>ISO20022 TRANSLATION APIs"],"summary":"Translate a TARGET2 MT message to TARGET2 MX message","description":"Accepts a TARGET2 MT message request in plain text and translates it to the equivalent TARGET2 MX.","operationId":"rtgsTranslateMtToMx","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>{1:F01PBAADEFFAC2X0000000000}{2:O2021109210323PBBBDEFFXXXX00000000002103231109N}{3:{121:e008b028-59c5-41e9-be4c-d45102fc201e}}{4:\n:21:Inp008b028-E2EId\n:13C:/RNCTIME/0915+0200\n:32A:191007EUR61250,00\n:52A:PBBBDEFFXXX\n:58A:PBAADEFFAC2\n-}</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"{1:F01PBAADEFFAC2X0000000000}{2:O2021109210323PBBBDEFFXXXX00000000002103231109N}{3:{121:e008b028-59c5-41e9-be4c-d45102fc201e}}{4:\n:20:Inp009b028-InsId\n:21:Inp008b028-E2EId\n:13C:/RNCTIME/0915+0200\n:32A:191007EUR61250,00\n:52A:PBBBDEFFXXX\n:58A:PBAADEFFAC2\n-}"}},"required":true},"responses":{"200":{"description":"Message was translated successfully","content":{"*/*":{"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Document xmlns=\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\">\n    <FICdtTrf>\n        <GrpHdr>\n            <MsgId>Inp009b028-InsId</MsgId>\n            <CreDtTm>2021-03-26T15:22:17.464+02:00</CreDtTm>\n            <NbOfTxs>1</NbOfTxs>\n            <SttlmInf>\n                <SttlmMtd>CLRG</SttlmMtd>\n                <ClrSys>\n                    <Cd>TGT</Cd>\n                </ClrSys>\n            </SttlmInf>\n        </GrpHdr>\n        <CdtTrfTxInf>\n            <PmtId>\n                <InstrId>Inp009b028-InsId</InstrId>\n                <EndToEndId>NOTPROVIDED</EndToEndId>\n                <UETR>e008b028-59c5-41e9-be4c-d45102fc201e</UETR>\n            </PmtId>\n            <IntrBkSttlmAmt Ccy=\"EUR\">61250.00</IntrBkSttlmAmt>\n            <IntrBkSttlmDt>2019-10-07</IntrBkSttlmDt>\n            <SttlmTmIndctn>\n                <CdtDtTm>2019-10-07T09:15:00.000+02:00</CdtDtTm>\n            </SttlmTmIndctn>\n            <InstgAgt>\n                <FinInstnId>\n                    <BICFI>PBBBDEFFXXX</BICFI>\n                </FinInstnId>\n            </InstgAgt>\n            <InstdAgt>\n                <FinInstnId>\n                    <BICFI>PBAADEFFC2X</BICFI>\n                </FinInstnId>\n            </InstdAgt>\n            <Dbtr>\n                <FinInstnId>\n                    <BICFI>PBBBDEFFXXX</BICFI>\n                </FinInstnId>\n            </Dbtr>\n            <Cdtr>\n                <FinInstnId>\n                    <BICFI>PBAADEFFAC2</BICFI>\n                </FinInstnId>\n            </Cdtr>\n        </CdtTrfTxInf>\n    </FICdtTrf>\n</Document>"}}},"400":{"description":"Message is invalid","content":{"text/plain":{"example":"Message could not be translated"}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/translator/rtgs/mt/to/mx"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be translated"}}}},"security":[{"bearer-key":[]}]}},"/swift/translator/cbpr/mx/to/mt":{"post":{"tags":["MT<>ISO20022 TRANSLATION APIs"],"summary":"Translate a CBPR+ message to SWIFT MT","description":"Accepts an CBPR+ message request in plain text and translates it to the equivalent SWIFT MT.","operationId":"cbprTranslateMxToMt","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;\n&lt;AppHdr xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:head.001.001.02&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;AAAABEBBXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCUS33XXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizMsgIdr&gt;987&lt;/BizMsgIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;MsgDefIdr&gt;pacs.009.001.08&lt;/MsgDefIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizSvc&gt;swift.cbprplus.01&lt;/BizSvc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDt&gt;2021-06-02T11:05:42.864+03:00&lt;/CreDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Prty&gt;NORM&lt;/Prty&gt;\n&lt;/AppHdr&gt;\n<br>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;\n&lt;Document xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;FICdtTrf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDtTm&gt;2021-06-02T11:05:42.887+03:00&lt;/CreDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;NbOfTxs&gt;1&lt;/NbOfTxs&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmMtd&gt;INDA&lt;/SttlmMtd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstrId&gt;987&lt;/InstrId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EndToEndId&gt;NOTPROVIDED&lt;/EndToEndId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UETR&gt;c8b66b47-2bd9-48fe-be90-93c2096f27d2&lt;/UETR&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmAmt Ccy=&quot;USD&quot;&gt;10500.00&lt;/IntrBkSttlmAmt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmDt&gt;2009-05-27&lt;/IntrBkSttlmDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;DbtDtTm&gt;2009-05-27T12:49:00.000+02:00&lt;/DbtDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PrvsInstgAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CHASUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PrvsInstgAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;AAAABEBBXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCUS33XXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrmyAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;TESTBICD&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/IntrmyAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BKAUATWW&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;TESTBICE&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;TESTBICF&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FICdtTrf&gt;\n&lt;/Document&gt;</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AppHdr xmlns=\"urn:iso:std:iso:20022:tech:xsd:head.001.001.02\">\n    <Fr>\n        <FIId>\n            <FinInstnId>\n                <BICFI>AAAABEBBXXX</BICFI>\n            </FinInstnId>\n        </FIId>\n    </Fr>\n    <To>\n        <FIId>\n            <FinInstnId>\n                <BICFI>CCCCUS33XXX</BICFI>\n            </FinInstnId>\n        </FIId>\n    </To>\n    <BizMsgIdr>987</BizMsgIdr>\n    <MsgDefIdr>pacs.009.001.08</MsgDefIdr>\n    <BizSvc>swift.cbprplus.01</BizSvc>\n    <CreDt>2021-06-02T11:05:42.864+03:00</CreDt>\n    <Prty>NORM</Prty>\n</AppHdr>\n\n<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Document xmlns=\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\">\n    <FICdtTrf>\n        <GrpHdr>\n            <MsgId>987</MsgId>\n            <CreDtTm>2021-06-02T11:05:42.887+03:00</CreDtTm>\n            <NbOfTxs>1</NbOfTxs>\n            <SttlmInf>\n                <SttlmMtd>INDA</SttlmMtd>\n            </SttlmInf>\n        </GrpHdr>\n        <CdtTrfTxInf>\n            <PmtId>\n                <InstrId>987</InstrId>\n                <EndToEndId>NOTPROVIDED</EndToEndId>\n                <UETR>c8b66b47-2bd9-48fe-be90-93c2096f27d2</UETR>\n            </PmtId>\n            <IntrBkSttlmAmt Ccy=\"USD\">10500.00</IntrBkSttlmAmt>\n            <IntrBkSttlmDt>2009-05-27</IntrBkSttlmDt>\n            <SttlmTmIndctn>\n                <DbtDtTm>2009-05-27T12:49:00.000+02:00</DbtDtTm>\n            </SttlmTmIndctn>\n            <PrvsInstgAgt1>\n                <FinInstnId>\n                    <BICFI>CHASUS33</BICFI>\n                </FinInstnId>\n            </PrvsInstgAgt1>\n            <InstgAgt>\n                <FinInstnId>\n                    <BICFI>AAAABEBBXXX</BICFI>\n                </FinInstnId>\n            </InstgAgt>\n            <InstdAgt>\n                <FinInstnId>\n                    <BICFI>CCCCUS33XXX</BICFI>\n                </FinInstnId>\n            </InstdAgt>\n            <IntrmyAgt1>\n                <FinInstnId>\n                    <BICFI>TESTBICD</BICFI>\n                </FinInstnId>\n            </IntrmyAgt1>\n            <Dbtr>\n                <FinInstnId>\n                    <BICFI>BKAUATWW</BICFI>\n                </FinInstnId>\n            </Dbtr>\n            <CdtrAgt>\n                <FinInstnId>\n                    <BICFI>TESTBICE</BICFI>\n                </FinInstnId>\n            </CdtrAgt>\n            <Cdtr>\n                <FinInstnId>\n                    <BICFI>TESTBICF</BICFI>\n                </FinInstnId>\n            </Cdtr>\n        </CdtTrfTxInf>\n    </FICdtTrf>\n</Document>"}},"required":true},"responses":{"200":{"description":"Message was translated successfully","content":{"*/*":{"example":"{1:F01CCCCUS33XXXX0000000000}{2:O2021537210602AAAABEBBXXXX00000000002106021537N}{3:{121:c8b66b47-2bd9-48fe-be90-93c2096f27d2}}{4:\n:20:987\n:21:NOTPROVIDED\n:13C:/SNDTIME/1249+0200\n:32A:090527USD10500,00\n:52A:BKAUATWW\n:56A:TESTBICD\n:57A:TESTBICE\n:58A:TESTBICF\n:72:/INS/CHASUS33\n-}"}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":[{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-complex-type.2.4.a: Invalid content was found starting with element 'CreDtTm'. One of '{\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\":MsgId}' is expected.","erroneousValue":null,"line":4,"column":22}]}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/translator/cbpr/mx/to/mt"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be translated"}}}},"security":[{"bearer-key":[]}]}},"/swift/translator/cbpr/mt/to/mx":{"post":{"tags":["MT<>ISO20022 TRANSLATION APIs"],"summary":"Translate a SWIFT MT message to CBPR+","description":"Accepts an MT message request in plain text and translates it to the equivalent CBPR+.","operationId":"cbprTranslateMtToMx","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>{1:F01AAAABEBBAXXX0000000000}{2:I202CCCCUS33AXXXN}{3:{121:c8b66b47-2bd9-48fe-be90-93c2096f27d2}}{4:\n:21:090525/123COV\n:13C:/SNDTIME/1249+0200\n:32A:090527USD10500,00\n:52A:BKAUATWW\n:56A:TESTBICD\n:57A:TESTBICE\n:58A:TESTBICF\n:72:/INS/CHASUS33\n-}{5:{MAC:75D138E4}{CHK:DE1B0D71FA96}}</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"{1:F01AAAABEBBAXXX0000000000}{2:I202CCCCUS33AXXXN}{3:{121:c8b66b47-2bd9-48fe-be90-93c2096f27d2}}{4:\n:20:987\n:21:090525/123COV\n:13C:/SNDTIME/1249+0200\n:32A:090527USD10500,00\n:52A:BKAUATWW\n:56A:TESTBICD\n:57A:TESTBICE\n:58A:TESTBICF\n:72:/INS/CHASUS33\n-}{5:{MAC:75D138E4}{CHK:DE1B0D71FA96}}"}},"required":true},"responses":{"200":{"description":"Message was translated successfully","content":{"*/*":{"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AppHdr xmlns=\"urn:iso:std:iso:20022:tech:xsd:head.001.001.02\">\n    <Fr>\n        <FIId>\n            <FinInstnId>\n                <BICFI>AAAABEBBXXX</BICFI>\n            </FinInstnId>\n        </FIId>\n    </Fr>\n    <To>\n        <FIId>\n            <FinInstnId>\n                <BICFI>CCCCUS33XXX</BICFI>\n            </FinInstnId>\n        </FIId>\n    </To>\n    <BizMsgIdr>987</BizMsgIdr>\n    <MsgDefIdr>pacs.009.001.08</MsgDefIdr>\n    <BizSvc>swift.cbprplus.01</BizSvc>\n    <CreDt>2021-06-02T15:19:05.507+03:00</CreDt>\n    <Prty>NORM</Prty>\n</AppHdr>\n\n<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Document xmlns=\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\">\n    <FICdtTrf>\n        <GrpHdr>\n            <MsgId>987</MsgId>\n            <CreDtTm>2021-06-02T15:19:05.548+03:00</CreDtTm>\n            <NbOfTxs>1</NbOfTxs>\n            <SttlmInf>\n                <SttlmMtd>INDA</SttlmMtd>\n            </SttlmInf>\n        </GrpHdr>\n        <CdtTrfTxInf>\n            <PmtId>\n                <InstrId>987</InstrId>\n                <EndToEndId>NOTPROVIDED</EndToEndId>\n                <UETR>c8b66b47-2bd9-48fe-be90-93c2096f27d2</UETR>\n            </PmtId>\n            <IntrBkSttlmAmt Ccy=\"USD\">10500.00</IntrBkSttlmAmt>\n            <IntrBkSttlmDt>2009-05-27</IntrBkSttlmDt>\n            <SttlmTmIndctn>\n                <DbtDtTm>2009-05-27T12:49:00.000+02:00</DbtDtTm>\n            </SttlmTmIndctn>\n            <PrvsInstgAgt1>\n                <FinInstnId>\n                    <BICFI>CHASUS33</BICFI>\n                </FinInstnId>\n            </PrvsInstgAgt1>\n            <InstgAgt>\n                <FinInstnId>\n                    <BICFI>AAAABEBBXXX</BICFI>\n                </FinInstnId>\n            </InstgAgt>\n            <InstdAgt>\n                <FinInstnId>\n                    <BICFI>CCCCUS33XXX</BICFI>\n                </FinInstnId>\n            </InstdAgt>\n            <IntrmyAgt1>\n                <FinInstnId>\n                    <BICFI>TESTBICD</BICFI>\n                </FinInstnId>\n            </IntrmyAgt1>\n            <Dbtr>\n                <FinInstnId>\n                    <BICFI>BKAUATWW</BICFI>\n                </FinInstnId>\n            </Dbtr>\n            <CdtrAgt>\n                <FinInstnId>\n                    <BICFI>TESTBICE</BICFI>\n                </FinInstnId>\n            </CdtrAgt>\n            <Cdtr>\n                <FinInstnId>\n                    <BICFI>TESTBICF</BICFI>\n                </FinInstnId>\n            </Cdtr>\n        </CdtTrfTxInf>\n    </FICdtTrf>\n</Document>\n"}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":[{"tagName":"20","description":"SV16 - Mandatory Tag is missing ","sequence":null,"occurs":"1","line":null,"messageIndex":null,"errorCode":"SV16"}]}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/translator/cbpr/mt/to/mx"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be translated"}}}},"security":[{"bearer-key":[]}]}},"/swift/rtgs/validate":{"post":{"tags":["TARGET2 APIs"],"summary":"Validate a TARGET2 message","description":"Accepts a TARGET2 message request in plain text and validates it.","operationId":"validateRtgsMessageText","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;\n&lt;!--Inbound_pacs.009_RTGS_FICreditTransferOrder_COV_bs028--&gt;\n&lt;Document xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08 RTGS_pacs_guidelines_pacs_009_FIToFIFinancialInstitutionCreditTransfer_pacs_009_001_08_20191021_1544%20(1).xsd&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;FICdtTrf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDtTm&gt;2019-10-07T13:45:00+00:00&lt;/CreDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;NbOfTxs&gt;1&lt;/NbOfTxs&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmMtd&gt;CLRG&lt;/SttlmMtd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ClrSys&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Cd&gt;TGT&lt;/Cd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ClrSys&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstrId&gt;Inp009b028-InsId&lt;/InstrId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EndToEndId&gt;Inp008b028-E2EId&lt;/EndToEndId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UETR&gt;e008b028-59c5-41e9-be4c-d45102fc201e&lt;/UETR&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmAmt Ccy=&quot;EUR&quot;&gt;61250.00&lt;/IntrBkSttlmAmt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmDt&gt;2019-10-07&lt;/IntrBkSttlmDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBBBDEFFXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBAADEFFAC2&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBBBDEFFXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBAADEFFAC2&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UndrlygCstmrCdtTrf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UltmtDbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Nm&gt;Ultimate debtor name&lt;/Nm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;OrgId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;AnyBIC&gt;ULTMDBTRBIC&lt;/AnyBIC&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/OrgId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/UltmtDbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Nm&gt;Debit customer name&lt;/Nm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;TwnNm&gt;Frankfurt&lt;/TwnNm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Ctry&gt;DE&lt;/Ctry&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBBBDEFFXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;PBAADEFFXXX&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Nm&gt;Credit customer name&lt;/Nm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;TwnNm&gt;Dusseldorf&lt;/TwnNm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Ctry&gt;DE&lt;/Ctry&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UltmtCdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Nm&gt;Ultimate creditor name&lt;/Nm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;OrgId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;AnyBIC&gt;ULTMCDTRBIC&lt;/AnyBIC&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/OrgId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/UltmtCdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/UndrlygCstmrCdtTrf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FICdtTrf&gt;\n&lt;/Document&gt;</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!--Inbound_pacs.009_RTGS_FICreditTransferOrder_COV_bs028-->\n<Document xmlns=\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08 RTGS_pacs_guidelines_pacs_009_FIToFIFinancialInstitutionCreditTransfer_pacs_009_001_08_20191021_1544%20(1).xsd\">\n    <FICdtTrf>\n        <GrpHdr>\n            <MsgId>NONREF</MsgId>\n            <CreDtTm>2019-10-07T13:45:00+00:00</CreDtTm>\n            <NbOfTxs>1</NbOfTxs>\n            <SttlmInf>\n                <SttlmMtd>CLRG</SttlmMtd>\n                <ClrSys>\n                    <Cd>TGT</Cd>\n                </ClrSys>\n            </SttlmInf>\n        </GrpHdr>\n        <CdtTrfTxInf>\n            <PmtId>\n                <InstrId>Inp009b028-InsId</InstrId>\n                <EndToEndId>Inp008b028-E2EId</EndToEndId>\n                <UETR>e008b028-59c5-41e9-be4c-d45102fc201e</UETR>\n            </PmtId>\n            <IntrBkSttlmAmt Ccy=\"EUR\">61250.00</IntrBkSttlmAmt>\n            <IntrBkSttlmDt>2019-10-07</IntrBkSttlmDt>\n            <InstgAgt>\n                <FinInstnId>\n                    <BICFI>PBBBDEFFXXX</BICFI>\n                </FinInstnId>\n            </InstgAgt>\n            <InstdAgt>\n                <FinInstnId>\n                    <BICFI>PBAADEFFAC2</BICFI>\n                </FinInstnId>\n            </InstdAgt>\n            <Dbtr>\n                <FinInstnId>\n                    <BICFI>PBBBDEFFXXX</BICFI>\n                </FinInstnId>\n            </Dbtr>\n            <Cdtr>\n                <FinInstnId>\n                    <BICFI>PBAADEFFAC2</BICFI>\n                </FinInstnId>\n            </Cdtr>\n            <UndrlygCstmrCdtTrf>\n                <UltmtDbtr>\n                    <Nm>Ultimate debtor name</Nm>\n                    <Id>\n                        <OrgId>\n                            <AnyBIC>ULTMDBTRBIC</AnyBIC>\n                        </OrgId>\n                    </Id>\n                </UltmtDbtr>\n                <Dbtr>\n                    <Nm>Debit customer name</Nm>\n                    <PstlAdr>\n                        <TwnNm>Frankfurt</TwnNm>\n                        <Ctry>DE</Ctry>\n                    </PstlAdr>\n                </Dbtr>\n                <DbtrAgt>\n                    <FinInstnId>\n                        <BICFI>PBBBDEFFXXX</BICFI>\n                    </FinInstnId>\n                </DbtrAgt>\n                <CdtrAgt>\n                    <FinInstnId>\n                        <BICFI>PBAADEFFXXX</BICFI>\n                    </FinInstnId>\n                </CdtrAgt>\n                <Cdtr>\n                    <Nm>Credit customer name</Nm>\n                    <PstlAdr>\n                        <TwnNm>Dusseldorf</TwnNm>\n                        <Ctry>DE</Ctry>\n                    </PstlAdr>\n                </Cdtr>\n                <UltmtCdtr>\n                    <Nm>Ultimate creditor name</Nm>\n                    <Id>\n                        <OrgId>\n                            <AnyBIC>ULTMCDTRBIC</AnyBIC>\n                        </OrgId>\n                    </Id>\n                </UltmtCdtr>\n            </UndrlygCstmrCdtTrf>\n        </CdtTrfTxInf>\n    </FICdtTrf>\n</Document>"}},"required":true},"responses":{"200":{"description":"Message is valid","content":{"*/*":{"example":"Message is valid"}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":[{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-complex-type.2.4.a: Invalid content was found starting with element 'CreDtTm'. One of '{\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\":MsgId}' is expected.","erroneousValue":null,"line":6,"column":22}]}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/rtgs/validate"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be parsed"}}}},"security":[{"bearer-key":[]}]}},"/swift/mx":{"post":{"tags":["ISO20022 APIs"],"summary":"Validate an MX message","description":"Accepts an MX message request in plain text and validates it.","operationId":"validateMxMessageText","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>&lt;?xml version = &quot;1.0&quot; encoding = &quot;UTF-8&quot;?&gt;\n&lt;Document xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:pain.002.001.10&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;CstmrPmtStsRpt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;MsgId&gt;BBBB/120928-PSR/001&lt;/MsgId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDtTm&gt;2012-09-28T14:09:00&lt;/CreDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InitgPty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Nm&gt;ABC Corporation&lt;/Nm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;StrtNm&gt;Times Square More than allowed characters here. Maximum allowed length is 70 characters&lt;/StrtNm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BldgNb&gt;7&lt;/BldgNb&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PstCd&gt;NY 10036&lt;/PstCd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;TwnNm&gt;New York&lt;/TwnNm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Ctry&gt;US&lt;/Ctry&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InitgPty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;INVALIDBICCODE&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;OrgnlGrpInfAndSts&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;OrgnlMsgNmId&gt;pain.001.001.05&lt;/OrgnlMsgNmId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;OrgnlCreDtTm&gt;2012-09-28T14:07:00&lt;/OrgnlCreDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;OrgnlNbOfTxs&gt;3&lt;/OrgnlNbOfTxs&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;OrgnlCtrlSum&gt;11500000&lt;/OrgnlCtrlSum&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;GrpSts&gt;ACCP&lt;/GrpSts&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/OrgnlGrpInfAndSts&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CstmrPmtStsRpt&gt;\n&lt;/Document&gt;</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<Document xmlns=\"urn:iso:std:iso:20022:tech:xsd:pain.002.001.10\">\n    <CstmrPmtStsRpt>\n        <GrpHdr>\n            <MsgId>BBBB/120928-PSR/001</MsgId>\n            <CreDtTm>2012-09-28T14:09:00</CreDtTm>\n            <InitgPty>\n                <Nm>ABC Corporation</Nm>\n                <PstlAdr>\n                    <StrtNm>Times Square</StrtNm>\n                    <BldgNb>7</BldgNb>\n                    <PstCd>NY 10036</PstCd>\n                    <TwnNm>New York</TwnNm>\n                    <Ctry>US</Ctry>\n                </PstlAdr>\n            </InitgPty>\n            <DbtrAgt>\n                <FinInstnId>\n                    <BICFI>BBBBUS33</BICFI>\n                </FinInstnId>\n            </DbtrAgt>\n        </GrpHdr>\n        <OrgnlGrpInfAndSts>\n            <OrgnlMsgId>ABC/120928/CCT001</OrgnlMsgId>\n            <OrgnlMsgNmId>pain.001.001.05</OrgnlMsgNmId>\n            <OrgnlCreDtTm>2012-09-28T14:07:00</OrgnlCreDtTm>\n            <OrgnlNbOfTxs>3</OrgnlNbOfTxs>\n            <OrgnlCtrlSum>11500000</OrgnlCtrlSum>\n            <GrpSts>ACCP</GrpSts>\n        </OrgnlGrpInfAndSts>\n    </CstmrPmtStsRpt>\n</Document>"}},"required":true},"responses":{"200":{"description":"Message is valid","content":{"*/*":{"example":"Message is valid"}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":[{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-maxLength-valid: Value 'Times Square More than allowed characters here. Maximum allowed length is 70 characters' with length = '87' is not facet-valid with respect to maxLength '70' for type 'Max70Text'.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-type.3.1.3: The value 'Times Square More than allowed characters here. Maximum allowed length is 70 characters' of element 'StrtNm' is not valid.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-pattern-valid: Value 'INVALIDBICCODE' is not facet-valid with respect to pattern '[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}' for type 'BICFIDec2014Identifier'.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-type.3.1.3: The value 'INVALIDBICCODE' of element 'BICFI' is not valid.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-complex-type.2.4.a: Invalid content was found starting with element 'OrgnlMsgNmId'. One of '{\"urn:iso:std:iso:20022:tech:xsd:pain.002.001.10\":OrgnlMsgId}' is expected.","erroneousValue":null,"line":0,"column":0},{"severity":"FATAL","errorCode":"D00001","fieldPath":"/grpHdr/dbtrAgt/finInstnId/BICFI","description":"Invalid FI BIC.","erroneousValue":"INVALIDBICCODE","line":0,"column":0}]}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/mx"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be parsed"}}}},"security":[{"bearer-key":[]}]}},"/swift/mt/universal/confirmation":{"post":{"tags":["SWIFT MT APIs"],"summary":"Create MT199 universal confirmation","description":"Accepts an MT103 and creates an MT199 following universal confirmation rules","operationId":"autoReplyMt103","parameters":[{"name":"confirmationId","in":"query","required":true,"schema":{"type":"string"}},{"name":"statusCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"reasonCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"forwardTo","in":"query","required":false,"schema":{"type":"string"}},{"name":"settlementCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"clearingSystem","in":"query","required":false,"schema":{"type":"string"}},{"name":"replyJson","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>{1:F01COPZBEB0AXXX0377002845}{2:O1031519110804LRLRXXXX4A1100009044681108041720N}{3:{108:MT103 006 OF 045}{119:REMIT}{121:c8b66b47-2bd9-48fe-be90-93c2096f27d2}{433:/AOK/NOT CHECKED         }}{4:\n:20:00043AAASSSDDDDFFGGHHHGGFFFDFDDDDDSSSSDD\n:23B:SSTD\n:32A:001118USD3,34\n:50F:/34x\n1/Name\n2/AddressLine\n3/US/Town\n:57D:/C/Clementine Nuggets-1842-Y\n4X35x\n:59F:1/Beneficiary Name-1234567891234123\n2/QWERT\n3/US/Beneficiary Address Line 21\n3/Beneficiary Name-1234567891234123\n:71A:OUR\n:77T:9000z\n-}{5:{MAC:00000000}{CHK:7C4CBA518E33}{TNG:}}{S:{SAC:}{COP:P}}\n</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"{1:F01COPZBEB0AXXX0377002845}{2:O1031519110804LRLRXXXX4A1100009044681108041720N}{3:{108:MT103 006 OF 045}{119:REMIT}{121:c8b66b47-2bd9-48fe-be90-93c2096f27d2}{433:/AOK/NOT CHECKED         }}{4:\n:20:00089\n:23B:SSTD\n:32A:001118USD3,34\n:50F:/34x\n1/Name\n2/AddressLine\n3/US/Town\n:57D:/D/34x\n4X35x\n:59F:1/Beneficiary Name-1234567891234123\n2/QWERT\n3/US/Beneficiary Address Line 21\n3/Beneficiary Name-1234567891234123\n:71A:OUR\n:77T:9000z\n-}{5:{MAC:00000000}{CHK:7C4CBA518E33}{TNG:}}{S:{SAC:}{COP:P}}\n"}},"required":true},"responses":{"200":{"description":"Message is valid","content":{"*/*":{"example":{"199":{"Block_1":{"Applid":"F","Servid":"01","LTaddrBlk1":"LRLRXXXX4A11"},"Block_2":{"Inoutind":"I","Msgtype":"199","LTaddrBlk2":"TRCKCHZZXVAL","Msgprior":"N"},"Block_3":{"Tag121":"c8b66b47-2bd9-48fe-be90-93c2096f27d2"},"Block_4":{"Tag20":"test","Tag21":"00089","Tag79":{"Line_1":"//2101041648+0200","Line_2":"//ACCC","Line_3":"//LRLRXXXX","Line_4":"//USD3,34"}},"Block_5":""}}}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":[{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-maxLength-valid: Value 'Times Square More than allowed characters here. Maximum allowed length is 70 characters' with length = '87' is not facet-valid with respect to maxLength '70' for type 'Max70Text'.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-type.3.1.3: The value 'Times Square More than allowed characters here. Maximum allowed length is 70 characters' of element 'StrtNm' is not valid.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-pattern-valid: Value 'INVALIDBICCODE' is not facet-valid with respect to pattern '[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}' for type 'BICFIDec2014Identifier'.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-type.3.1.3: The value 'INVALIDBICCODE' of element 'BICFI' is not valid.","erroneousValue":null,"line":0,"column":0},{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-complex-type.2.4.a: Invalid content was found starting with element 'OrgnlMsgNmId'. One of '{\"urn:iso:std:iso:20022:tech:xsd:pain.002.001.10\":OrgnlMsgId}' is expected.","erroneousValue":null,"line":0,"column":0},{"severity":"FATAL","errorCode":"D00001","fieldPath":"/grpHdr/dbtrAgt/finInstnId/BICFI","description":"Invalid FI BIC.","erroneousValue":"INVALIDBICCODE","line":0,"column":0}]}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/mt/universal/confirmation"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be parsed"}}}},"security":[{"bearer-key":[]}]}},"/swift/mt/pdf":{"post":{"tags":["SWIFT MT APIs"],"summary":"Convert an MT Message to PDF","description":"Accepts an MT message request in plain text and returns it wrapped in a pdf format.","operationId":"swiftMessageToPDF","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>{1:F01COPZBEB0AXXX0377002843}{2:O1011519110804LRLRXXXX4A1100009044661108041720N}{3:{108:MT101 006 OF 020}{433:/AOK/NO HIT DETECTED     }}{4:\n:20:00043AAASSSDDDDFFGGHHHGGFFFDFDDDDDSSSSDD\n:28D:1/1\n:50F:/409074-293-45/786\n1/George Philips\n2/High Street 1\n3/GB/London\n:30:011231\n:21:PQR-27ZZ-01\n:32B:USD2564,50\n:57D:/C/Clementine Nuggets-1842-Y\nMynR49R RailRoad Trust Too many characters in this line\nCloudsboro ARTUI\n:59F:1/Beneficiary Name-1234567891234123\n2/QWERT\n3/US/Beneficiary Address Line 21\n3/Beneficiary Name-1234567891234123\n:71A:OUR\n-}{5:{MAC:00000000}{CHK:19DA346889CC}{TNG:}}{S:{SAC:}{COP:P}}</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"{1:F01COPZBEB0AXXX0377002843}{2:O1011519110804LRLRXXXX4A1100009044661108041720N}{3:{108:MT101 006 OF 020}{433:/AOK/NO HIT DETECTED     }}{4:\n:20:00043\n:28D:1/1\n:50F:/409074-293-45/786\n1/George Philips\n2/High Street 1\n3/GB/London\n:30:011231\n:21:PQR-27ZZ-01\n:32B:USD2564,50\n:57D:/C/Clementine Nuggets-1842-Y\nMynR49R RailRoad Trust\nCloudsboro ARTUI\n:59F:1/Beneficiary Name-1234567891234123\n2/QWERT\n3/US/Beneficiary Address Line 21\n3/Beneficiary Name-1234567891234123\n:71A:OUR\n-}{5:{MAC:00000000}{CHK:19DA346889CC}{TNG:}}{S:{SAC:}{COP:P}}"}},"required":true},"responses":{"200":{"description":"Message is valid","content":{"*/*":{"example":"report.pdf"}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":{"tagName":"20","description":"SV16 - Mandatory Tag is missing ","sequence":null,"occurs":"1","line":null,"messageIndex":null,"errorCode":"SV16"}}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:53:19.928+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/mt"}}}},"500":{"description":"An unhandled error occured","content":{"application/json":{"example":"Message could not be parsed"}}}},"security":[{"bearer-key":[]}]}},"/swift/mt":{"post":{"tags":["SWIFT MT APIs"],"summary":"Validate an MT message","description":"Accepts an MT message request in plain text, validates it and returns it wrapped in XML format.","operationId":"validateSwiftMessageText","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>{1:F01COPZBEB0AXXX0377002843}{2:O1011519110804LRLRXXXX4A1100009044661108041720N}{3:{108:MT101 006 OF 020}{433:/AOK/NO HIT DETECTED     }}{4:\n:20:00043AAASSSDDDDFFGGHHHGGFFFDFDDDDDSSSSDD\n:28D:1/1\n:50F:/409074-293-45/786\n1/George Philips\n2/High Street 1\n3/GB/London\n:30:011231\n:21:PQR-27ZZ-01\n:32B:USD2564,50\n:57D:/C/Clementine Nuggets-1842-Y\nMynR49R RailRoad Trust Too many characters in this line\nCloudsboro ARTUI\n:59F:1/Beneficiary Name-1234567891234123\n2/QWERT\n3/US/Beneficiary Address Line 21\n3/Beneficiary Name-1234567891234123\n:71A:OUR\n-}{5:{MAC:00000000}{CHK:19DA346889CC}{TNG:}}{S:{SAC:}{COP:P}}</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"{1:F01COPZBEB0AXXX0377002843}{2:O1011519110804LRLRXXXX4A1100009044661108041720N}{3:{108:MT101 006 OF 020}{433:/AOK/NO HIT DETECTED     }}{4:\n:20:00043\n:28D:1/1\n:50F:/409074-293-45/786\n1/George Philips\n2/High Street 1\n3/GB/London\n:30:011231\n:21:PQR-27ZZ-01\n:32B:USD2564,50\n:57D:/C/Clementine Nuggets-1842-Y\nMynR49R RailRoad Trust\nCloudsboro ARTUI\n:59F:1/Beneficiary Name-1234567891234123\n2/QWERT\n3/US/Beneficiary Address Line 21\n3/Beneficiary Name-1234567891234123\n:71A:OUR\n-}{5:{MAC:00000000}{CHK:19DA346889CC}{TNG:}}{S:{SAC:}{COP:P}}"}},"required":true},"responses":{"200":{"description":"Message is valid","content":{"*/*":{"example":{"101":{"Block_1":{"Applid":"F","Servid":"01","LTaddrBlk1":"COPZBEB0AXXX","Sesno":"0377","Osn":"002843"},"Block_2":{"Inoutind":"O","Msgtype":"101","Intime":"1519","Indate":"110804","LTaddrBlk2":"LRLRXXXX4A11","Ssesno":"0000","Isn":"904466","Outdate":"110804","Outtime":"1720","Msgprior":"N"},"Block_3":{"Tag108":"MT101 006 OF 020"},"Block_4":{"Tag20":"00043","Tag28D":"1/1","Tag50F":{"Line_1":"/409074-293-45/786","Line_2":"1/George Philips","Line_3":"2/High Street 1","Line_4":"3/GB/London"},"Tag30":"011231","Tag21":"PQR-27ZZ-01","Tag32B":"USD2564,50","Tag57D":{"Line_1":"/C/Clementine Nuggets-1842-Y","Line_2":"MynR49R RailRoad Trust","Line_3":"Cloudsboro ARTUI"},"Tag59F":{"Line_1":"1/Beneficiary Name-1234567891234123","Line_2":"2/QWERT","Line_3":"3/US/Beneficiary Address Line 21","Line_4":"3/Beneficiary Name-1234567891234123"},"Tag71A":"OUR"},"Block_5":{"CHK":"19DA346889CC","MAC":"00000000"}}}}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":{"tagName":"20","description":"SV16 - Mandatory Tag is missing ","sequence":null,"occurs":"1","line":null,"messageIndex":null,"errorCode":"SV16"}}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:53:19.928+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/mt"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be parsed"}}}},"security":[{"bearer-key":[]}]}},"/swift/cbpr/validate":{"post":{"tags":["CBPR+ APIs"],"summary":"Validate a CBPR+ Message","description":"Accepts a CBPR+ message request in plain text and validates it.","operationId":"validateCbprMessage","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;\n&lt;AppHdr xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:head.001.001.02&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizMsgIdr&gt;BBBB/120928-FICT/JPY/430&lt;/BizMsgIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;MsgDefIdr&gt;pacs.009.001.08&lt;/MsgDefIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizSvc&gt;swift.cbprplus.01&lt;/BizSvc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;MktPrctc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Regy&gt;string&lt;/Regy&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;string&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/MktPrctc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDt&gt;2008-09-29T04:49:45+03:00&lt;/CreDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;CpyDplct&gt;CODU&lt;/CpyDplct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;PssblDplct&gt;true&lt;/PssblDplct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Prty&gt;NORM&lt;/Prty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Rltd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizMsgIdr&gt;BBBB/120928-FICT/JPY/430&lt;/BizMsgIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;MsgDefIdr&gt;pacs.009.001.08&lt;/MsgDefIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizSvc&gt;swift.cbprplus.01&lt;/BizSvc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDt&gt;2014-06-09T18:15:04+03:00&lt;/CreDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CpyDplct&gt;COPY&lt;/CpyDplct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Prty&gt;NORM&lt;/Prty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Rltd&gt;\n&lt;/AppHdr&gt;\n<br>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;\n&lt;Document xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;FICdtTrf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDtTm&gt;2012-09-28T16:00:00+13:00&lt;/CreDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;NbOfTxs&gt;1&lt;/NbOfTxs&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmMtd&gt;INDA&lt;/SttlmMtd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;ACCOUNTID&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstrId&gt;BBBB/120928-FICT&lt;/InstrId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EndToEndId&gt;ABC/4562/2012-09-08&lt;/EndToEndId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;TxId&gt;BBBB/120928-CCT/123/1&lt;/TxId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UETR&gt;00000000-0000-4000-8000-000000000000&lt;/UETR&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PmtTpInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstrPrty&gt;NORM&lt;/InstrPrty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PmtTpInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmAmt Ccy=&quot;JPY&quot;&gt;10000000&lt;/IntrBkSttlmAmt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmDt&gt;2012-09-29&lt;/IntrBkSttlmDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtDtTm&gt;2012-09-28T16:00:00+13:00&lt;/CdtDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmTmReq&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CLSTm&gt;12:12:12+13:00&lt;/CLSTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmTmReq&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PrvsInstgAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;TESTBICD&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PrvsInstgAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrmyAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;INTERBIC&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/IntrmyAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrmyAgt1Acct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;INTERAGTACCT&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/IntrmyAgt1Acct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Nm&gt;Debtor Name&lt;/Nm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;AdrLine&gt;Address&lt;/AdrLine&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;DbtrAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;DBTRACCT&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/DbtrAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;AAAAJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtrAgtAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;CDTRAGTACCT&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtrAgtAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;AAAAGB2L&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Cdtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtrAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;CDTRACCT&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtrAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FICdtTrf&gt;\n&lt;/Document&gt;</code></pre>","content":{"text/plain":{"schema":{"type":"string"},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AppHdr xmlns=\"urn:iso:std:iso:20022:tech:xsd:head.001.001.02\">\n    <Fr>\n        <FIId>\n            <FinInstnId>\n                <BICFI>BBBBUS33</BICFI>\n            </FinInstnId>\n        </FIId>\n    </Fr>\n    <To>\n        <FIId>\n            <FinInstnId>\n                <BICFI>CCCCJPJT</BICFI>\n            </FinInstnId>\n        </FIId>\n    </To>\n    <BizMsgIdr>BBBB/120928-FICT/JPY/430</BizMsgIdr>\n    <MsgDefIdr>pacs.009.001.08</MsgDefIdr>\n    <BizSvc>swift.cbprplus.01</BizSvc>\n    <MktPrctc>\n        <Regy>string</Regy>\n        <Id>string</Id>\n    </MktPrctc>\n    <CreDt>2008-09-29T04:49:45+03:00</CreDt>\n    <CpyDplct>CODU</CpyDplct>\n    <PssblDplct>true</PssblDplct>\n    <Prty>NORM</Prty>\n    <Rltd>\n        <Fr>\n            <FIId>\n                <FinInstnId>\n                    <BICFI>BBBBUS33</BICFI>\n                </FinInstnId>\n            </FIId>\n        </Fr>\n        <To>\n            <FIId>\n                <FinInstnId>\n                    <BICFI>CCCCJPJT</BICFI>\n                </FinInstnId>\n            </FIId>\n        </To>\n        <BizMsgIdr>BBBB/120928-FICT/JPY/430</BizMsgIdr>\n        <MsgDefIdr>pacs.009.001.08</MsgDefIdr>\n        <BizSvc>swift.cbprplus.01</BizSvc>\n        <CreDt>2014-06-09T18:15:04+03:00</CreDt>\n        <CpyDplct>COPY</CpyDplct>\n        <Prty>NORM</Prty>\n    </Rltd>\n</AppHdr>\n\n<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Document xmlns=\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\">\n    <FICdtTrf>\n        <GrpHdr>\n            <MsgId>BBBB/120928-FICT/JPY/430</MsgId>\n            <CreDtTm>2012-09-28T16:00:00+13:00</CreDtTm>\n            <NbOfTxs>1</NbOfTxs>\n            <SttlmInf>\n                <SttlmMtd>INDA</SttlmMtd>\n                <SttlmAcct>\n                    <Id>\n                        <Othr>\n                            <Id>ACCOUNTID</Id>\n                        </Othr>\n                    </Id>\n                </SttlmAcct>\n            </SttlmInf>\n        </GrpHdr>\n        <CdtTrfTxInf>\n            <PmtId>\n                <InstrId>BBBB/120928-FICT</InstrId>\n                <EndToEndId>ABC/4562/2012-09-08</EndToEndId>\n                <TxId>BBBB/120928-CCT/123/1</TxId>\n                <UETR>00000000-0000-4000-8000-000000000000</UETR>\n            </PmtId>\n            <PmtTpInf>\n                <InstrPrty>NORM</InstrPrty>\n            </PmtTpInf>\n            <IntrBkSttlmAmt Ccy=\"JPY\">10000000</IntrBkSttlmAmt>\n            <IntrBkSttlmDt>2012-09-29</IntrBkSttlmDt>\n            <SttlmTmIndctn>\n                <CdtDtTm>2012-09-28T16:00:00+13:00</CdtDtTm>\n            </SttlmTmIndctn>\n            <SttlmTmReq>\n                <CLSTm>12:12:12+13:00</CLSTm>\n            </SttlmTmReq>\n            <PrvsInstgAgt1>\n                <FinInstnId>\n                    <BICFI>TESTBICD</BICFI>\n                </FinInstnId>\n            </PrvsInstgAgt1>\n            <InstgAgt>\n                <FinInstnId>\n                    <BICFI>BBBBUS33</BICFI>\n                </FinInstnId>\n            </InstgAgt>\n            <InstdAgt>\n                <FinInstnId>\n                    <BICFI>CCCCJPJT</BICFI>\n                </FinInstnId>\n            </InstdAgt>\n            <IntrmyAgt1>\n                <FinInstnId>\n                    <BICFI>INTERBIC</BICFI>\n                </FinInstnId>\n            </IntrmyAgt1>\n            <IntrmyAgt1Acct>\n                <Id>\n                    <Othr>\n                        <Id>INTERAGTACCT</Id>\n                    </Othr>\n                </Id>\n            </IntrmyAgt1Acct>\n            <Dbtr>\n                <FinInstnId>\n                    <BICFI>BBBBUS33</BICFI>\n                    <Nm>Debtor Name</Nm>\n                    <PstlAdr>\n                        <AdrLine>Address</AdrLine>\n                    </PstlAdr>\n                </FinInstnId>\n            </Dbtr>\n            <DbtrAcct>\n                <Id>\n                    <Othr>\n                        <Id>DBTRACCT</Id>\n                    </Othr>\n                </Id>\n            </DbtrAcct>\n            <DbtrAgt>\n                <FinInstnId>\n                    <BICFI>BBBBUS33</BICFI>\n                </FinInstnId>\n            </DbtrAgt>\n            <CdtrAgt>\n                <FinInstnId>\n                    <BICFI>AAAAJPJT</BICFI>\n                </FinInstnId>\n            </CdtrAgt>\n            <CdtrAgtAcct>\n                <Id>\n                    <Othr>\n                        <Id>CDTRAGTACCT</Id>\n                    </Othr>\n                </Id>\n            </CdtrAgtAcct>\n            <Cdtr>\n                <FinInstnId>\n                    <BICFI>AAAAGB2L</BICFI>\n                </FinInstnId>\n            </Cdtr>\n            <CdtrAcct>\n                <Id>\n                    <Othr>\n                        <Id>CDTRACCT</Id>\n                    </Othr>\n                </Id>\n            </CdtrAcct>\n        </CdtTrfTxInf>\n    </FICdtTrf>\n</Document>"}},"required":true},"responses":{"200":{"description":"Message is valid","content":{"*/*":{"example":"Message is valid"}}},"400":{"description":"Message is invalid","content":{"application/json":{"example":[{"severity":"ERROR","errorCode":null,"fieldPath":null,"description":"cvc-complex-type.2.4.a: Invalid content was found starting with element 'CreDtTm'. One of '{\"urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08\":MsgId}' is expected.","erroneousValue":null,"line":4,"column":22}]}}},"401":{"description":"Unauthorized request","content":{"application/json":{"example":{"timestamp":"2020-11-18T17:23:37.292+0000","status":401,"error":"Unauthorized","message":"Unauthorized","path":"/swift/cbpr/validate"}}}},"500":{"description":"An unhandled error occured","content":{"text/plain":{"example":"Message could not be parsed"}}}},"security":[{"bearer-key":[]}]}},"/swift/cbpr/envelope":{"post":{"tags":["CBPR+ APIs"],"summary":"Envelopes a CBPR+ Message inside a RequestPayload","description":"Accepts a CBPR+ message request and envelopes it inside a RequestPayload to be used in FINplus service.","operationId":"envelopeCbprMessage","requestBody":{"description":"For <b>sandbox</b>, use the below <b>invalid message</b>: <pre style=\"height: 200px;overflow: scroll;\"><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;\n&lt;AppHdr xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:head.001.001.02&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizMsgIdr&gt;BBBB/120928-FICT/JPY/430&lt;/BizMsgIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;MsgDefIdr&gt;pacs.009.001.08&lt;/MsgDefIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizSvc&gt;swift.cbprplus.01&lt;/BizSvc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;MktPrctc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Regy&gt;string&lt;/Regy&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;string&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/MktPrctc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDt&gt;2008-09-29T04:49:45+03:00&lt;/CreDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;CpyDplct&gt;CODU&lt;/CpyDplct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;PssblDplct&gt;true&lt;/PssblDplct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Prty&gt;NORM&lt;/Prty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;Rltd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Fr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FIId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/To&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizMsgIdr&gt;BBBB/120928-FICT/JPY/430&lt;/BizMsgIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;MsgDefIdr&gt;pacs.009.001.08&lt;/MsgDefIdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BizSvc&gt;swift.cbprplus.01&lt;/BizSvc&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDt&gt;2014-06-09T18:15:04+03:00&lt;/CreDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CpyDplct&gt;COPY&lt;/CpyDplct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Prty&gt;NORM&lt;/Prty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Rltd&gt;\n&lt;/AppHdr&gt;\n<br>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;\n&lt;Document xmlns=&quot;urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08&quot;&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&lt;FICdtTrf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CreDtTm&gt;2012-09-28T16:00:00+13:00&lt;/CreDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;NbOfTxs&gt;1&lt;/NbOfTxs&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmMtd&gt;INDA&lt;/SttlmMtd&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;ACCOUNTID&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/GrpHdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtTrfTxInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstrId&gt;BBBB/120928-FICT&lt;/InstrId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EndToEndId&gt;ABC/4562/2012-09-08&lt;/EndToEndId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;TxId&gt;BBBB/120928-CCT/123/1&lt;/TxId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;UETR&gt;00000000-0000-4000-8000-000000000000&lt;/UETR&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PmtId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PmtTpInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstrPrty&gt;NORM&lt;/InstrPrty&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PmtTpInf&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmAmt Ccy=&quot;JPY&quot;&gt;10000000&lt;/IntrBkSttlmAmt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrBkSttlmDt&gt;2012-09-29&lt;/IntrBkSttlmDt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtDtTm&gt;2012-09-28T16:00:00+13:00&lt;/CdtDtTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmTmIndctn&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;SttlmTmReq&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CLSTm&gt;12:12:12+13:00&lt;/CLSTm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/SttlmTmReq&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PrvsInstgAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;TESTBICD&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PrvsInstgAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstgAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;CCCCJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/InstdAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrmyAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;INTERBIC&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/IntrmyAgt1&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;IntrmyAgt1Acct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;INTERAGTACCT&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/IntrmyAgt1Acct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Nm&gt;Debtor Name&lt;/Nm&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;AdrLine&gt;Address&lt;/AdrLine&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/PstlAdr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Dbtr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;DbtrAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;DBTRACCT&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/DbtrAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;BBBBUS33&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/DbtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;BICFI&gt;AAAAJPJT&lt;/BICFI&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/FinInstnId&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/CdtrAgt&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;CdtrAgtAcct&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Othr&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;Id&gt;CDTRAGTACCT&lt;/Id&gt;\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
[...]
